

    <section class="hero">
        <div class="flex flex-row mt-5">
            <div class="left-hero basis-1/2 ml-10 my-10">
                <h3 class="text-lg ">New Inspiration 2020</h3>
                <h1 class="font-bold text-2xl leading-loose">PHONE MADE FOR YOU</h1>
                <h3 class="text-lg leading-loose">Trending from phone and headphone style condition</h3>
                <a href="#products"><button class="btn-primary">SHOP NOW</button></a>
            </div>
            <div class="right-hero ml-140">
                <img src="/img/iphone.png" alt="Hero">
            </div>
        </div>
    </section>

    <section id="products" class="products">
        <h1 class="text-center font-bold text-2xl mt-4 leading-loose mb-8"> Latest Products</h1>
        <div class="grid grid-cols-6 gap-4 gap-y-12">
            <% phones.forEach(function(phone){ %>
            <div class="card">
                <img src="/img/iphone.png" alt="phoneImg" style="width:100px">
                <h1><%= phone.name %></h1>
                <p class="price">$<%= phone.price %></p>
                <p>⭐⭐⭐⭐⭐</p>
                <p><button data-phone="<%= JSON.stringify(phone) %>" class="add-to-cart">Add to Cart</button></p>
            </div>
            <% }) %>

         
        </div>
    </section>

    <section id="about" class="about">
        <div class="flex">
            <div class="left-news ml-20">
                <h1 class="font-bold text-xl">SUBSCRIBE TO OUR NEWSLETTER</h1>
                <P class="font-bold">A short sentence describing what someone will receive by subscribing</P>
            </div>
            <div class="right-news ml-20">
                <input type="text" placeholder="Enter your email address">
                <button class="sec-btn">Subscribe</button>
            </div>
        </div>
        <div class="footer flex">
            <div class="ml-20">
                <h1 class="text-xl font-bold leading-loose mb-5 mt-5">EXTRA</h1>
                <p>Brands</p>
                <p>Gift Certificate</p>
                <p>Affiliate</p>
                <p>Specialized</p>
                <p class="mb-5">Site map</p>
            </div>
            <div>
                <h1 class="text-xl font-bold leading-loose mb-5 mt-5">INFORMATION</h1>
                <p>About US</p>
                <p>Privacy Policy</p>
                <p>Terms & Conditions</p>
                <p>Contact Us</p>
                <p class="mb-5">Site Map</p>
            </div>
            <div>
                <h1 class="text-xl font-bold leading-loose mb-5 mt-5">DETAILS</h1>
                <p>My Account</p>
                <p>Order History</p>
                <p>Wish List</p>
                <p>News Letter</p>
                <p class="mb-5">Returns</p>
            </div>
            <div class="mr-20">
                <h1 class="text-xl font-bold leading-loose mb-5 mt-5">CONTACT US</h1>
                <p>07 Dream House, Dream Street, 007</p>
                <p>Dream Villa, USA</p>
                <p>Company@mail.com</p>
                <p>456-737-382</p>
                <p class="mb-5">Dreamy Street, USA</p>
            </div>
        </div>

    </section>

   