.noty_layout_mixin, #noty_layout__centerRight, #noty_layout__centerLeft, #noty_layout__center, #noty_layout__bottomRight, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottom, #noty_layout__topRight, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  animation: noty_modal_out 0.3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
}
.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.93) 0px 30px 60px -30px;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
}

.right-nav ul {
  display: flex;
  list-style-type: none;
}

.right-nav ul li a:hover {
  color: grey;
}

.cart {
  background: grey;
  border-radius: 14px;
  padding: 3px 15px;
}

.hero {
  height: 91vh;
  background: #C1C7C9;
}

.left-hero {
  margin-top: 10rem;
}

.right-hero {
  margin-top: 2rem;
  margin-left: 25rem;
}

.btn-primary {
  margin-top: 3rem;
  border: 1px solid black;
  padding: 10px 15px;
  color: white;
  background: black;
  border-radius: 5px;
}

.btn-primary:hover {
  color: black;
  background: white;
  border: 1px solid white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card img {
  height: 90px;
  margin-left: 49px;
}

.price {
  color: black;
  font-size: 22px;
}

.card button {
  border: 1px solid black;
  outline: 0;
  padding: 10px;
  color: black;
  background-color: #C1C7C9;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

.card button:hover {
  opacity: 0.6;
}

.empty-cart h1 {
  text-align: center;
}

.empty-cart p {
  text-align: center;
}

.empty-cart img {
  height: 400px;
  width: 400px;
  margin-left: 30rem;
}

.cart-container {
  margin-top: 10px;
  margin-left: 20rem;
  margin-right: 20rem;
}

.cart-head {
  margin-top: 6rem;
  margin-left: 20rem;
}

.cart-amount {
  margin-top: 2rem;
  margin-left: 57rem;
}

.address-input {
  padding: 15px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-left: 55rem;
  border-radius: 5px;
}

.log-in {
  margin-bottom: 2px;
  margin-left: 60rem;
}

.log-in:hover {
  border: 1px solid black;
}

.cart-log {
  margin-top: 20px;
  float: right;
  margin-right: 18rem;
}

.cart-log:hover {
  border: 1px solid black;
}

.cart-heading {
  margin-top: 5rem;
  margin-left: 13rem;
}

.order-table {
  margin-top: 1px;
  margin-left: 13rem;
}

.table-heading {
  background: #C1C7C9;
  color: black;
  font-weight: bold;
  font-size: larger;
  padding: 1rem;
}

.table-row {
  color: grey;
  cursor: pointer;
}

table tr th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-bottom: 2px;
}

table tr td {
  text-align: center;
}

.admin-order-head {
  margin-left: 3rem;
  margin-right: 3rem;
  background: rgba(163, 162, 162, 0.801);
}

.order-id {
  color: rgba(36, 34, 34, 0.89);
  cursor: pointer;
  font-weight: bold;
}

.t-body td {
  border-bottom: 1px solid #ddd;
}

.status-select {
  border: 1px solid rgba(163, 162, 162, 0.801);
  border-radius: 2px;
}

.about {
  margin-top: 6rem;
}

.right-news {
  margin-left: 20rem;
}

.right-news input {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 26px;
}

.sec-btn {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 1px;
  padding: 9px 14px;
}

.sec-btn:hover {
  color: black;
  background: white;
  border: 1px solid rgba(163, 162, 162, 0.801);
}

.footer {
  margin-top: 4rem;
  background: black;
  color: white;
  justify-content: space-between;
}
