<section class="admin-order">
    <h1 class="font-bold text-xl mt-5 ml-10">All Orders</h1>
    <table class="ml-10 mr-10">
        <thead class="admin-order-head">
            <th class="p-3">Orders</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Status</th>
            <th>Placed at</th>
        </thead>
        <tbody class="t-body" id="orderTableBody">
            <tr>
                <td>
                    <div>
                        <span class="order-id font-bold text-lg">5f84735khwif89</span>
                    </div>
                    <div>
                        <span>Iphone 11 - 1 pcs</span><br>
                        <span>Realme 3 pro - 1 pcs</span><br>
                        <span>Redmi 6 - 1 pcs</span>
                    </div>
                </td>

                <td>John Doe</td>
                <td>Mdu Campus</td>
                <td>
                    <form>
                        <select name="status" id="status" class="status-select">
                            <option value="Placed">Placed</option>
                            <option value="Recieved">Recieved</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                            <option value="canceleled">Canceled</option>
                        </select>
                    </form>
                </td>
                <td>09:33 PM</td>
            </tr>


            

            <tr>
                <td>
                    <div>
                        <span class="order-id font-bold text-lg">5f84735khwif89</span>
                    </div>
                    <div>
                        <span>Iphone 11 - 1 pcs</span><br>
                        <span>Realme 3 pro - 1 pcs</span><br>
                        <span>Redmi 6 - 1 pcs</span>
                    </div>
                </td>

                <td>John Doe</td>
                <td>Mdu Campus</td>
                <td>
                    <form>
                        <select name="status" id="status" class="status-select">
                            <option value="Placed">Placed</option>
                            <option value="Recieved">Recieved</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                            <option value="canceleled">Canceled</option>
                        </select>
                    </form>
                </td>
                <td>09:33 PM</td>
            </tr>


            

            <tr>
                <td>
                    <div>
                        <span class="order-id font-bold text-lg">5f84735khwif89</span>
                    </div>
                    <div>
                        <span>Iphone 11 - 1 pcs</span><br>
                        <span>Realme 3 pro - 1 pcs</span><br>
                        <span>Redmi 6 - 1 pcs</span>
                    </div>
                </td>

                <td>John Doe</td>
                <td>Mdu Campus</td>
                <td>
                    <form>
                        <select name="status" id="status" class="status-select">
                            <option value="Placed">Placed</option>
                            <option value="Recieved">Recieved</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                            <option value="canceleled">Canceled</option>
                        </select>
                    </form>
                </td>
                <td>09:33 PM</td>
            </tr>
        </tbody>
    </table>

</section>